@using MSStoreWebApp.Vm
@model ProductCatagoryGenderVm

    

<table class="table">

    <thead>
        <tr>
            <th scope="col">Car Name</th>
            <th scope="col"> CarPhoto</th>
                <th scope="col">Car Kataqorya</th>

            <th scope="col">Car description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    @foreach (var item in Model.Products)
    {
    <tbody>
        <tr>
            <td>@item.Name</td>
                <td>
                    <img src="~/Assest/image/@item.ImgUrl" alt="" width="150px">
                </td>
            <td>@item.Catagory.Name</td>
            <td>@item.Description</td>

            <td>@item.Price</td>
            <td><a asp-action="Update" asp-controller="Product" asp-area="Manage" asp-route-Id="@item.Id">Update</a></td>
            <td><a asp-action="Delete" asp-controller="Product" asp-area="Manage" asp-route-Id="@item.Id">Delete</a></td>
        </tr>
    
    </tbody>
    }
    
</table>
